// main contacts
.contactList {
  display: none;
  opacity: 0;
  transition: all 0.2s linear;
  background: rgba(255, 255, 255, 0.4);
  padding: 15px;
  p {
      font-size: 1.7rem;
      margin-top: 0;
  }
}

.showContacts {
    display: block;
    opacity: 1;
}

li {
    list-style: none;
    border: 2px solid rgba(129, 183, 255, 1);
}

span > p {
    display: block;
    background: white;
    padding: 10px;
    margin: 0;
    font-size: 2rem;
    display: flex;
    justify-content: space-between; 
}
