@import "setup";
@import "authnav";
@import "form";
@import "maincontacts";
@import "buttons";
@import "icons";

// general styles

html {
    font-size: 62.5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(129, 183, 255, 1);
}

// typography
h1 {
    text-align: center;
    font-size: 4rem;
}

h2 {
    font-size: 1.8rem;
}

a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

a:visited {
    color: black;
}
header {
    p {
        font-size: 1.5rem;
    }
}

.signin-prompt {
    text-align: center;
}

//wrappers
.wrapper {
    width: 90%;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute !important;
    height: 1px; width: 1px; 
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

header {
    text-align: center;
}

input[tupe=password] {
    padding: 5px;
    border-radius: 5px;
    font-size: 1.7rem;
}

@import "mediaquery";
